@import './styles/vars.scss';
body {
  font-family: monospace;
  // background: linear-gradient(0deg, $primary 0.03%, $accent);
  background-image: url("./assets/alchemy.gif");
  background-size: cover;
  color: $foreground;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0 30px;
  height: 100vh;
}

